In [3]:
install.packages(c("restatapi","chron"))
library(restatapi)
library(chron)

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
dt1 <- get_eurostat_data("tus_00age",filters=c("TIME_SP","Hungary",'T'),verbose=T)
head(dt1)

0.8.10	id%3Dtus_00age	filters%3Dc("TIME_SP", "Hungary", "T")	verbose%3DT

Trying to download the DSD from: http://ec.europa.eu/eurostat/SDMX/diss-web/rest/datastructure/ESTAT/DSD_tus_00age

Trying to extract the DSD from: /tmp/RtmpHZoMoO/file396f468f2

The DSD of the tus_00age dataset was cached in memory ('tus_00age.dsd' in '.restatapi_env').


.TIME_SP.T...HU-

http://ec.europa.eu/eurostat/SDMX/diss-web/rest/data/tus_00age/.TIME_SP.T...HU/

http://ec.europa.eu/eurostat/SDMX/diss-web/rest/data/tus_00age/.TIME_SP.T...HU/
code:  - severity:


restat - nrow:896;ncol:8;colnames:UNIT/AGE/SEX/ACL00/GEO/FREQ/obsTime/obsValue

     unit age sex acl00 geo time values

In [14]:
id<-"tus_00age"
rd<-get_eurostat_raw(id)
dsd<-get_eurostat_dsd(id)
ft<-create_filter_table(c("TIME_SP","Hungary",'T','AC1A'),FALSE,dsd)
frd<-filter_raw_data(rd,ft)
frd 
frd[,values:=chron::times(paste0(values,":00"))]
frd[age!='TOTAL',mean(values)]

  freq unit    sex age    acl00 geo time values
1 A    TIME_SP T   TOTAL  AC1A  HU  2010 2:23
2 A    TIME_SP T   Y15-20 AC1A  HU  2010 0:19
3 A    TIME_SP T   Y20-24 AC1A  HU  2010 1:46
4 A    TIME_SP T   Y20-74 AC1A  HU  2010 2:43
5 A    TIME_SP T   Y25-44 AC1A  HU  2010 3:49
6 A    TIME_SP T   Y45-64 AC1A  HU  2010 2:41
7 A    TIME_SP T   Y_GE65 AC1A  HU  2010 0:11

[1] 01:54:50